
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18em,auto));
}

.card{
    margin: 35px;
    margin-left: 55px;
    background-color: rgb(236, 233, 233);
    border-radius: 5px;
    box-shadow:2px 2px 10px grey;
    transition:transform .2s ease;
      
}

.headh4{
    color: red;
}

.capitalLeft{
    color:blue;
    display: inline-block;
}

.capitalRight{
    display: inline-block;
    padding:3px;
    margin-left:10px;
    border-radius:3px;
    background-color:rgb(1, 145, 1);
    color:white;
}

.regionLeft{
    color:blue;
    display: inline;
}

.regionRight{
    display: inline-block;
    padding:10px;
}

.latlongLeft{
    color:blue;
    display: inline-block;
}

.latlongRight{
    display: inline-block;
    padding:10px;
}

/* .currencyvalue{
    color:green;
    font-size: large;
    text-align: center;
} 

.table{
    border:1px solid black;
}  */

/* .modal-content{
    background-color: rgb(51, 50, 50);
    color:white;
} */

.btn{
    margin-left:48px;
}

.modal-body{
    text-align: center;
    font-weight:bold;
}

.body1{
    text-align: center;
    font-weight:bold
}

.weathericon{
    height: 20px;
    width: 20px;
    margin-left:235px;
}





